.location-container {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 30px;
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
}

h2 {
  margin-bottom: 15px;
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.map-helper {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.location-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
}

.required {
  color: red;
}

input[type="text"],
select {
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-row .form-group {
  flex: 1;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
}

.back-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #984ebb;
  border: 2px solid #984ebb;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.next-button {
  padding: 10px 20px;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.back-button:hover {
  background-color: #984ebb85;
  color: white;
}

.next-button:hover {
  background-color: #ff69b496 ;
}
