.nhere{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fbf8f8;
        padding: 15px 30px;
        text-align: right;
        border-color: black;
        border-width: 10px;
}
.nav-left {
        display: flex;
        align-items: center;
}
.nav-logo {
        height: 40px;
        width: 40px;
}
.nav-text {
        margin-left: 10px;
        font-weight: bold;
        font-size: 30px;
        color: #ff69b4;
}
.nhere a {
        margin-left: 15px;
        text-decoration: none;
        color: black;
}
.list {
        margin-left: 15px;
        display: inline-block;
        color: #984ebb;
        cursor: pointer;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: #984ebb;
        padding: 5px 10px;
}
