.card-container{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20 0;
}
.app h1{
    margin-left:50px;
}
.subtitle-rec{
    margin-left:50px;
}
.btn{
    align-self: center;
    background-color: #ff69b4;
    border-color: #ff69b4 ;
    border-radius: 10px;
    margin-left:550px;
    color:white;
    margin-bottom:10px;
    border-width: 0px;
    width:80px;
    height: 35px;
}